.grid-item {
    text-decoration-color: rgb(54, 2, 2) ;
    background-color: rgb(61, 137, 160);
    border: 1px solid rgb(84, 65, 133);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .grid-container {
    display: grid;
    /* grid-template-columns: 100px 100px 100px; */
    /* grid-template-columns: 2fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 100px);
    /* column-gap: 10px;
    row-gap: 10px; */
    gap: 10px;
  }